<div class="d-flex justify-content-center">

    <mat-card class="example-card" *ngFor="let item of users">
        <mat-card-title>{{item.surname}}</mat-card-title>
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-subtitle><p>email:</p>{{item.email}}</mat-card-subtitle>
        <mat-card-content>
          <p>Course: {{item.course}}</p>
          <p>Degree: {{item.degree}}</p>
          <p>Pay: {{item.pay}}</p>
          <p>Major: {{item.major}}</p>
        </mat-card-content>
      </mat-card>
        

</div>

