@import "../../../styles.scss";
@import "../../../variables.scss";

.header {
    height: $footer-height;
    background-color: $univ-black;
    color: $univ-red;
}
h4{
        font-family: "Copperplate", fantasy;
    }
